
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Zain", sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: #001011;
    color: #dce0e0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-bottom: 3px solid #dce0e0;
}
header a{
    text-decoration: none;
    color: #dce0e0;
    margin-right: 70px;
    font-size: 20px;
}
.nombre{
    margin-left: 20px;
    margin-right: 100px;
    font-size: 60px;
    font-family: "Bubblegum Sans", sans-serif;
}
.main{
    width: 100%;
    height: 755px;
    background-image: url(https://images.unsplash.com/photo-1599583623464-2a6193ef4fae?q=80&w=1467&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat:no-repeat ;
    background-size:cover;
    color: white;
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto también se centre */
    font-size: 40px;
    text-shadow: 0px 0px 9px rgba(43,43,43,0.5);
}
.subtext {
    color: white;
    text-shadow: 0px 0px 9px rgba(43,43,43,0.5);
    margin-top: -80px;
}
.separacion{
    width: 100%;
    height: 80px;
    background-color: #001011;
    color: #dce0e0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -88px;
    border-top: 3px solid #dce0e0;
    border-bottom: 3px solid #dce0e0;
}
.separacion2{
    width: 100%;
    height: 80px;
    background-color: #001011;
    color: #dce0e0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #dce0e0;
    border-bottom: 3px solid #dce0e0;
}

/*PRIMERO CUBO DE INFO*/
.info1 {
    display: flex;
    background-color:#001011;
    height: 400px;
    width: 100%;
}

.imagen {
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1730641884360-0f6bb86e70e6?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.texto {
    width: 50%;
    color:#dce0e0;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 30px;
    box-sizing: border-box;
}

/*SEGUNDO CUBO DE INFO*/
.info2 {
    display: flex;
    background-color:#001011;
    height: 400px;
    width: 100%;
    margin-bottom: 88px;
}

.imagen2 {
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1610274672835-65a79c852f58?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.texto2 {
    width: 50%;
    color:#dce0e0;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 30px;
    box-sizing: border-box;
}
.descarga{
    width: 100%;
    height: 755px;
    background-image: url(https://images.unsplash.com/photo-1561919073-4801940983a5?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat:no-repeat ;
    background-size:cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descargacubo{
    background-color: #001011;
    width: 500px;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 2px 8px 6px rgba(43,43,43,0.5);
    color: #dce0e0;
}
.descargacubo p{
    font-size: 20px;
}
svg{
    margin-top: 20px;
}
.contacto1{
    background-color:#001011;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto2{
    background-color:#1a1a1a;
    color: #dce0e0;
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cubo1{
    margin-right: 80px;
}
.cubo3{
    margin-right: 80px;
}
.cubo4{
    margin-right: 80px;
}
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #001011;
    color: #dce0e0;
    border-top: 3px solid #dce0e0;
}
footer p{
    padding-top: 5px;
}
.requisitos{
    width: 100%;
    height: 300px;
    background-color: #001011;
    color: #dce0e0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 23px;
}
.seccion3{
    width: 100%;
    height: 1500px;
    background-color: #001011;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.inf{
    border: 1px solid #dce0e0;
    display: flex;
    height: 450px;
    width: 1300px;
    margin-bottom: 20px;
    background-color: #1a1a1a;
}

.imagen3 {
    width: 60%;
    background-image: url(https://images.unsplash.com/photo-1744686909443-eb72a54de998?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.texto3 {
    width: 40%;
    color:#dce0e0;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 30px;
    box-sizing: border-box;
}

.imagen4 {
    width: 60%;
    background-image: url(https://images.unsplash.com/photo-1515222410484-613a51c43721?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.texto4 {
    width: 40%;
    color:#dce0e0;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 30px;
    box-sizing: border-box;
}

.imagen5 {
    width: 60%;
    background-image: url(https://images.unsplash.com/photo-1622960668894-75d014c9bf83?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.texto5 {
    width: 40%;
    color:#dce0e0;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 30px;
    box-sizing: border-box;
}


