@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
            /*{
                background-color: rgb(0, 0, 0);
            }*/
            .tit{
                color: white;
                text-align: center;
                font-size: 50px;
            }
            body{
                color: #dce0e0;
                background-color:#001011;
                font-family: "Funnel Display", serif;
            }
            header{
                text-align: center;
                height: 200px;
                width: 1920px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
            }
            .list{
                width: 800px;
                height: 230px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .mul{
                width: 800px;
                height: 590px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 30px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            footer{
                width: 1900px;
                height: 100px;
                background-color:#001011;
                color: #BED8D4;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            .nav{
                background-color:#001011;
                height: 30px;
                text-align: center;
                position: sticky;
                top: 0;
                overflow: hidden;
                color: #dce0e0;
                border-bottom: 1px solid;
                border-color: white;
            }
            .dia{
                width: 800px;
                height: 630px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 50px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .imgf{
                width: 2000px;
                height: 1000px;
                background-image: url(https://i.ytimg.com/vi/G4pDCygCWNE/maxresdefault.jpg);
                background-repeat:no-repeat ;
                background-size:cover;
            }
            .textcol{
                color: #001011;
            }
            .cuadrado{
                width: 500px;
                height: 900px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                margin-left: auto;
                margin-right: auto;
                display: block;
                padding: 30px;
                border: 10px solid #001011;
                box-shadow: 20px 19px 29px 1px rgba(0,117,255,0.6);
            }
            ul{
                list-style: none;
            }
            .nav a{
                text-decoration: none;
                color: #dce0e0;
                margin-left: 15px;
                margin-right: 15px;
            }
            .con{
                width: 800px;
                height: 160px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .head{
                width: 800px;
                height: 320px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .pp{
                width: 800px;
                height: 120px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .ima{
                width: 800px;
                height: 1000px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .titu{
                color: white;
                text-align: center;
            }
            .u{
                width: 100px;
                height: 100px;
                position: absolute;
                top: 55px;
                left: 50px;
                z-index: 2;
            }
            .d{
                width: 100px;
                height: 100px;
                background: linear-gradient(90deg,#7dffe5 0%, #bb40ff 80%);
            }
            .t{
                color: #636CCF;
            }
            .tab{
                width: 800px;
                height: 100px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .site{
                width: 800px;
                height: 100px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .bot{
                width: 800px;
                height: 130px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .btn{
                background-color: #001011;
                color: #dce0e0;
                padding: 10px;
                transition: background-color 0.3s;
            }
            .btn:hover{
                background-color: #636CCF;
            }
            .slide{
                width: 800px;
                height: 130px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            .span{
                width: 800px;
                height: 130px;
                background: linear-gradient(90deg,#bb40ff 0%, #7dffe5 80%);
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border: 10px solid #636CCF;
                padding-top: 20px;
                color: #001011;
                margin-bottom: 20px;
                box-shadow: 0px 10px 20px 16px rgba(53,5,158,0.76);
            }
            span{

                background-color: #001011;
                color: #dce0e0;
            }
            
            /*.anim{
                width: 200px;
                height: 200px;
                background-color: #636CCF;
                animation: escalar 2s infinite;Nombre de la animación, duración, loop
            }
            
            @keyframes mover {
                0%{
                    transform: translateX(0);
                }
                50%{
                    transform: translateX(100px);
                }
                100%{
                    transform: translateX(0);
                }
            }

            @keyframes rotar {
                from{
                    transform: rotate(0deg);
                }
                to{
                    transform: rotate(360deg);
                }
            }

            @keyframes escalar {
                0%{
                    transform: scale(1);
                }
                50%{
                    transform: scale(3);
                }
                100%{
                    transform: scale(1);
                }
            }
*/

#slideshow {
  text-align: center;
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin-bottom: 400px;
}
 
.slide-wrapper {
  width: 2912px;
  animation: slide 18s ease infinite;
}
 
.slide {
  float: left;
  height: 510px;
  width: 728px;
}
 
.slide:nth-child(1) { /*Elementos de una etiqueta que estan dentro*/
  background-color: rgb(216, 41, 243);
}
 
.slide:nth-child(2) {
  background-color: coral;
}
 
.slide:nth-child(3) {
  background-color: greenyellow;
}
 
.slide:nth-child(4) {
  background-color: brown;
}
 
@keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
*/

/*HOVER*/
.hoverex {
    background-color: powderblue;
    transition: background-color 0.5s;
  }
  
  .hoverex:hover {
    background-color: gold;
  }

  /*PSEUDOCLASE
  selector:pseudoclase { propiedad: valor; }
  */

  /*SELECTORES DE ATRIBUTO*/
  a {
    color: blue;
  }
  
  /* Enlaces internos, comenzando con "#"
  a[href^="#"] {
    background-color: gold;
  }
  
  /* Enlaces con "example" en cualquier parte de la URL */
  a[href*="example"] {
    background-color: silver;
  }
  
  /* Enlaces con "insensitive" en cualquier parte de la URL,
     independientemente de las mayúsculas */
  a[href*="insensitive" i] {
    color: cyan;
  }
  
  /* Enlaces que terminan en ".org" */
  a[href$=".org"] {
    color: red;
  }

  /* Estilos a párrafos dentro div y no más profundo */
.ej > p{
    background: #1397EF;
    padding: 10px;
  }
  
  
